* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #F3F5FC;
}

#logo {
    width: 120px;
    height: 48px;
    margin-top: 18px;
}

#borde {
    text-align: right;
    background-color: WHITE;
    border-radius: 32px;
    display: flex;
    margin-left: 800px;
    margin-top: .40px;
    padding-top: 100px;
    padding-left: 70px;
    padding-bottom: 179px;
}
#muneco {
    background-color: #ffff;
}

