body {
    background: #F3F5FC ;
}

.logo {    
    width: 120px;
    height: 48px;
}
.vector {
    width: 120px;
    height: 48px;
    margin-top: 18px;
    color: #0A3871;

}
.borde {
    display: inline-block;
    position: absolute;
    right: 100px;
    background: white;
    border-radius: 32px;
}

.muneco {
    padding-top: 160px;
    padding-bottom: 160px;
}

.mensaje-no-encontrado {
    display: inline-block;
    position: absolute;
    right: 85px;
    top: 472px;
    font-size: 24px;
    line-height: 28.8px;
    color: #343A40;
}

.desencriptar {
    text-align: center;
}